#clock, #greeting, #temp, #greetingtemp, h1{
    font-size: 50px;
    font-family: Verdana, sans-serif;
    color: #333;
    font-weight: normal;
}

h1{
    display: inline;
}
.container{
    text-align: center;
}

@media (max-width: 600px) {
    body {
        margin: center;
        text-align: center;
    }
    /* Add your smartphone-specific styles here */
}
@media (min-width: 601px) and (max-width: 900px) {
    .container {
        margin: center;
        text-align: center;
    }
    /* Add your tablet-specific styles here */
}
@media (min-width: 901px) {
    .container {
        margin: center;
        text-align: center;
    }
    /* Add your desktop-specific styles here */
}
